// ----------------- Blur ----------------------
@mixin blur-blue-gray-heavy() {
  background-color: rgba($color-blue-gray, .95);
  box-shadow: 0 1rem 2rem rgba($color-black, .25);

  @supports (backdrop-filter: blur()) {
    background-color: rgba($color-blue-gray, .7);
    backdrop-filter: blur(1rem);
  }
}
