// Font definitions
$font-primary: 'Lora', serif;
$font-display: 'Playfair Display', serif;


// ----------------- COLORS --------------------
// Primary color
$color-primary: #126e82;
$color-primary-light: #418b9b;
$color-primary-dark: #0e5868;

// Secondary color
$color-secondary: #51c4d3;
$color-secondary-light: #74d0dc;
$color-secondary-dark: #419da9;

// Accent color
$color-accent: #bc4b23;

// Background color
$color-background-dark: #132c33;

// White color
$color-white: #fff;

// Black color
$color-black: #000;

// Gray color
$color-gray-light: #f7f7f7;
$color-gray: #f2f2f2;
$color-gray-dark: #333;

// Blue gray color
$color-blue-gray-light: #ebf6fa;
$color-blue-gray: #d8e3e7;

// ----------------- Length --------------------
$border-radius-large: 1.5rem;
$border-radius-medium: 3px;
$border-radius-small: 2px;
