// Font definitions
$font-primary: 'Lora', serif;
$font-display: 'Josefin Sans', sans-serif;


// ----------------- COLORS --------------------
// Primary color
$color-primary: #00acc0ff;
$color-primary-light: #00e4ff;
$color-primary-dark: #006773;

// Background color
$color-background-dark: #132c33;

// White color
$color-white: #fff;

// Black color
$color-black: #000;

// Gray color
$color-gray-light: #ededed;
$color-gray-sub: #888;
$color-gray: #444;
$color-gray-dark: #333;

// ----------------- BORDER ------------------
$border-radius-large: 1.5rem;
$border-radius-medium: 3px;
$border-radius-small: 2px;
