.section-body {
  background-color: $color-secondary;

  grid-column: center-start / center-end;
  justify-self: center;
  align-self: center;
}

.section-find-me {
  background-color: $color-accent;

  grid-column: full-start / full-end;
}

.container--home {
  background: linear-gradient(to right bottom, rgba($color-blue-gray-light, .4), rgba($color-blue-gray, .4)),
  url("../../assets/img/hero-large.jpg") center;
  background-size: cover;
}
