.main--home {
  grid-column: center-start / center-end;
}

.section-discover {
  grid-column: col-start 4 / col-end 5;
}

.container--home {
  background: linear-gradient(to right bottom, rgba($color-blue-gray, .15), rgba($color-blue-gray, .15)),
  url("../../assets/img/hero-large.jpg") center;
  background-size: cover;
}
