.btn {
  &:link,
  &:visited {
    background-color: $color-primary;
    border-radius: 50rem;
    padding: .5rem 2rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-decoration: none;
    color: $color-gray;
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    display: inline-block;
    border: none;
    cursor: pointer;
    outline: none;

    transition: all .2s;
  }

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 .7rem 1rem rgba($color-black, .2);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);
  }

  &--cta {
    &:link,
    &:visited {
      background-color: $color-accent;
    }
  }
}
