.btn {
  &:link,
  &:visited {
    color: $color-primary;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $font-display;
    font-style: normal;
    font-weight: 600;
    font-size: 1.1rem;
    background-color: $color-white;
    border: 1px solid $color-white;
    display: inline-block;
    padding: 1rem 2rem;
    min-width: 16rem;
    transition: all .2s ease-in-out;
  }


  &:hover {
    box-shadow: $btn-box-shadow;
  }

  &:active {
    box-shadow: $btn-box-shadow-focus;
  }
}
