.header {
  background-image: $header-gradient;
  color: $color-white;

  &__content {
    &::before {
      display: block;
      content: 'S';
      padding-top: 10rem;
      font-family: $font-display;
      font-weight: 600;
      font-style: normal;
      font-size: 60rem;
      text-transform: uppercase;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: rgba($color-black, .1);
      z-index: -100;
    }
  }

  &__title {
    margin: 0 17rem 2.8rem 17rem;
  }

  &__meta {
    margin-bottom: 2.6rem;
    font-size: 1.5rem;

    & > span:not(:last-child) {
      &::after {
        display: inline-block;
        content: '|';
        font-style: normal;
        margin: 0 .7rem;
      }
    }
  }

  &__link,
  &__link:link,
  &__link:visited {
    transition: all .15s ease-in-out;
    text-shadow: 0 0 0 transparent;
    transform: translateY(0);
  }

  &__title:hover &__link {
    text-shadow: $header-title-text-shadow;
    transform: translateY(-2px);
  }
}
