.header {
  background-color: $color-primary;

  &__link,
  &__link:link,
  &__link:visited {
    transition: all .15s ease-in-out;
    text-shadow: 0 0 0 transparent;
    transform: translateY(0);
  }

  &__text-box:hover &__link {
    text-shadow: 0 .5rem 1rem rgba($color-black, .3);
    transform: translateY(-2px);
  }
}
