.header {
  background-color: $color-primary;
  color: $color-white;

  &__title {
    margin-bottom: 2.8rem;
  }

  &__meta {
    margin-bottom: 2.6rem;
    font-size: 1.5rem;

    & > span:not(:last-child) {
      &::after {
        display: inline-block;
        content: '|';
        margin: 0 .7rem;
      }
    }
  }

  &__link,
  &__link:link,
  &__link:visited {
    transition: all .15s ease-in-out;
    text-shadow: 0 0 0 transparent;
    transform: translateY(0);
  }

  &__title:hover &__link {
    text-shadow: $header-title-text-shadow;
    transform: translateY(-2px);
  }
}
