.nav-bar {
  display: flex;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;

  // Spanning the full width of container
  width: 100%;
  // When not active, don't show background color
  background-color: transparent;
  height: 6rem;

  &--active {
    @include blur-blue-gray-heavy;

    height: 5.5rem;
  }

  &__logo {
    opacity: 0;
    height: 100%;
    margin-left: 1.4rem;
    margin-right: -1.4rem;

    transition: opacity .2s;
  }

  &--active &__logo {
    opacity: 1;
  }

  &__nav {
    align-self: stretch;
  }

  &__nav-list {
    display: flex;

    height: 100%;

    list-style: none;
  }

  &__nav-item {
    display: flex;
    align-items: center;
    flex-flow: column;

    padding: 0 3rem;

    // For the hover effect
    &::after {
      content: "";
      height: 2px;
      width: 100%;
      background-color: $color-secondary-dark;
      transform: scaleX(0);
      transition: transform .2s;
    }

    &:hover::after,
    &:active::after,
    &--active::after {
      transform: scaleX(1);
    }
  }

  &__nav-link {
    &:link,
    &:visited {
      color: $color-black;
      display: block;
      text-decoration: none;
      text-transform: capitalize;
      margin: auto 0;
    }
  }
}
