.nav {
  text-transform: uppercase;

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 2.5rem;
    }
  }

  &__link {
  }
}
