.section {
  background-color: $color-white;
  padding: 11rem 20rem 15rem;
  box-shadow: $section-box-shadow;

  &__head {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom: 4rem;
    margin-bottom: 8rem;

    @include horizontal-divider-small;
  }

  &__heading {
    display: inline-block;
    margin-bottom: 3.3rem;
  }
}
