.container {
  display: grid;
  grid-template-columns: [full-start] minmax(8rem, 1fr)
          [center-start] repeat(8, [col-start] minmax(min-content, 14.7rem) [col-end]) [center-end]
          minmax(8rem, 1fr) [full-end];

  &--home {
    grid-template-rows: [header-start] 100vh [header-end];
    grid-row-gap: 10rem;
  }
}
