.header {
  grid-column: full-start / full-end;

  background-image: linear-gradient(to right bottom, rgba($color-gray, .95), rgba($color-gray-light, .95)),
  url("/assets/img/hero-large.jpg");
  background-size: cover;

  // Centering the header__text-box
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;

  &__text-box {
    text-align: center;
  }

  // Bigger CTA button
  &__cta {
    &:link,
    &:visited {
      padding: 1.5rem 5rem;
      font-size: 2rem;
    }
  }
}
