.header {
  grid-column: full-start / full-end;
  grid-row: header-start / header-end;

  // Centering the header__text-box
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;

  &__content {
    align-self: center;
    text-align: center;
    position: fixed;
  }
}
