.inner-container {
  z-index: 100;
  grid-column: full-start / full-end;

  display: grid;
  grid-template-columns: [inner-full-start] minmax(8rem, 1fr)
          [inner-center-start] repeat(8, [inner-col-start] minmax(min-content, 14.6rem) [inner-col-end]) [inner-center-end]
          minmax(8rem, 1fr) [inner-full-end];
  grid-template-rows: [section-start] 1fr [section-end footer-start] 11rem [footer-end];

  grid-row-gap: 8rem;
}
